<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<head>
    <title>Web Server Name</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <link rel="icon" href="{% static 'main/media/favi.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/connect.js' %}"></script>
    <script async type="text/javascript" charset="utf-8" src="{% static 'main/js/download.js' %}"></script>
    <script async>
        window.props = {
            'display': "{{display | safe}}",
            'values': {{values | safe}},
            'range': {{range | safe}}
        };
        window.react_mount = document.getElementById('main');
    </script>
</head>
<body>
    <noscript>Please enable your browser's JavaScript</noscript>
    <h1>Web server name</h1>
    <span id="connectmsg">Connecting to the database...</span>
    <div id="main">
            {% render_bundle 'index' %}
       
    </div>  
    
    {% if display %}
    <div class="button-row">
        <button class="button" id="download">Export to CSV</button>
    </div>
    <div class="table-wrapper">
        <table class="table-load table table-striped">
            <thead class="thead-dark">
                <tr>
                    {% for header in outputname %}
                    <th>{{ header.0 }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in output %}
                <tr>
                    {% for value in row %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}  
</body>
</html>