<head>
    <title>Web Server Name</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <link rel="icon" href="{% static 'main/media/favi.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/connect.js' %}"></script>
</head>
<body>
    <h1>Web server name</h1>
    <span id="connectmsg">Connecting to the database...</span>
    <form>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <div class="input-row">
            <span>Input 1:</span><input type="text" name="input1" value="">
        </div>
        <input type="submit" value="Run Program">
    </form>
</body>
