USE [dw_db];
GO

DROP TABLE dbo.core_operations_index;
GO

PRINT '-- dbo.core_operations_index'
BEGIN TRY
    CREATE TABLE dbo.core_operations_index
    (
		index_code					CHAR(10)						NOT	NULL,
		core_ops_group				VARCHAR(25)							NULL,
		rowguid                     UNIQUEIDENTIFIER ROWGUIDCOL		NOT	NULL	DEFAULT	NEWSEQUENTIALID(),
        version_number              ROWVERSION
		CONSTRAINT PK_dbo_coreoperationsindex PRIMARY KEY (index_code)
    )


END TRY
BEGIN CATCH
    EXEC dbo.PrintError
    EXEC dbo.LogError
END CATCH